@import 'repeat';

.animation {
	margin-top: 65px;
	font-family: 'Lato', sans-serif;
	background-color: #F9F9F9;

	.cijfer {
		position: relative;
		top: 12px;

		.circle {
			display: block;
		    border: 3px solid #c3c3c3;
		    border-radius: 100%;
		    height: 40px;
		    width: 40px;
		    position: absolute;
		    bottom: -9px;
		    right: 40px;
		}
	}
	.title_one {
		border-right: 1px solid #c3c3c3;
	}
	.title_two {
		.red {
			color: #CC0000;
		}
	}
	.wrapper_image {
		margin-top: 70px;
		position: relative;
		background-color: #F9F9F9;
		height: 400px;


		.kraan_m1 {
			position: absolute;
    		right: 400px;
    		.kraan_haak_met_doosje_m1 {
    			position: absolute;
    			top: 80px;
    			z-index: 1;
    			left: 11px;
    			opacity: 0;
    		}
    		.doos_van_deKraan {
    			position: absolute;
			    top: 169px;
			    z-index: 1;
			    left: 17px;

    		}
		}
		.table {
			position: absolute;
    		top: 235px;
    		.computer_m1 {
    			position: absolute;
			    bottom: 48px;
			    left: 296px;
			    z-index: 0;
    		}
    		.doos_m1 {
    			position: absolute;
    			right: 405px;
    		    bottom: 108px;
    		    z-index: 1;
    		}
		}
		.pipe {
			position: absolute;
		    top: 280px;
		    left: 65px;
		    z-index: 1;
		}
		.create_add_m2 {
			top: 615px;
		    position: absolute;
		    left: 60px;
		    z-index: 0;
		    .doos_m1_v2 {
		    	position: absolute;
			    top: 37px;
			    left: 28px;
			    opacity: 0;
			    z-index: -1;
		    }
		    .create_add_pipe_m2 {
		    	position: absolute;
			    top: 1px;
			    right: 126px;
			    z-index: -1;
		    }
		    .create_add_pipe2_m2 {
		    	position: absolute;
			    top: 28px;
			    right: -10px;
		    }
		    .logo_m2 {
		    	position: absolute;
			    top: 180px;
			    left: 155px;
		    }
		    .Create_ads_m2 {
		    	position: absolute;
			    top: 131px;
			    right: 110px;
			    .blue {
			    	display: block;
				    height: 4px;
				    background-color: #196dc5;
				    width: 40px;
				    position: absolute;
				    top: 0px;
				    left: 20px;
				    opacity: 0;
			    }
			    .green {
			    	display: block;
				    height: 4px;
				    background-color: #005821;
				    width: 46px;
				    position: absolute;
				    top: 8px;
				    left: 20px;
				    opacity: 0;
			    }
			    .yellow {
			    	display: block;
				    height: 4px;
				    background-color: #efc43a;
				    width: 33px;
				    position: absolute;
				    top: 16px;
				    left: 20px;
				    opacity: 0;
			    }
		    }
		    .check_one_wrapper {
		    	.circle {
		    		display: block;
				    height: 0px;
				    width: 0px;
				    background-color: green;
				    border-radius: 100%;
				    position: absolute;
				    top: 30px;
				    left: 95px;
				    z-index: 15;
		    	}
		    	.line_x {
		    		display: block;
				    width: 0px;
				    height: 0px;
				    border: 1px dotted grey;
				    position: absolute;
				    top: 34px;
				    left: 105px;
				    opacity: 0;
		    	}
		    	.line_y {
		    		display: block;
				    width: 2px;
				    height: 0px;
				    border: 1px dotted grey;
				    position: absolute;
				    top: -85px;
				    left: 144px;
				    opacity: 0;
		    	}
		    	.circle_big {
		    		display: block;
				    height: 0px;
				    width: 0px;
				    background-color: green;
				    border-radius: 100%;
				    position: absolute;
				    top: -105px;
				    left: 135px;
				    z-index: 15;
		    	}
		    	.text {
		    		position: absolute;
				    top: -105px;
				    left: 160px;
				    font-weight: 700;
				    opacity: 0;
		    	}
		    }
		    .check_two_wrapper {
		    	.circle {
		    		display: block;
				    width: 0px;
    				height: 0px;
				    background-color: green;
				    border-radius: 100%;
				    position: absolute;
				    top: 16px;
    				left: 382px;
				    z-index: 15;
		    	}
		    	.line_x {
		    		display: block;
				    height: 1px;
    				width: 0px;
				    border: 1px dotted grey;
				    position: absolute;
				    top: 20px;
    				left: 392px;
				    opacity: 0;
		    	}
		    	.line_y {
		    		display: block;
				    width: 2px;
				    height: 0px;
				    border: 1px dotted grey;
				    position: absolute;
				    top: -99px;
				    left: 430px;
				    opacity: 0;
		    	}
		    	.circle_big {
		    		display: block;
				    height: 0px;
				    width: 0px;
				    background-color: green;
				    border-radius: 100%;
				    position: absolute;
				    top: -118px;
				    left: 421px;
				    z-index: 15;
		    	}
		    	.text {
		    		position: absolute;
				    top: -118px;
    				left: 446px;
				    font-weight: 700;
				    opacity: 0;
				    min-width: 173px;
		    	}
		    }
		    .check_three_wrapper {
		    	.circle {
		    		display: block;
				    width: 0px;
    				height: 0px;
				    background-color: green;
				    border-radius: 100%;
				    position: absolute;
				    top: -4px;
    				left: 745px;
				    z-index: 15;
		    	}
		    	.line_x {
		    		display: block;
				    height: 1px;
    				width: 0px;
				    border: 1px dotted grey;
				    position: absolute;
				    top: 0px;
    				left: 755px;
				    opacity: 0;
		    	}
		    	.line_y {
		    		display: block;
				    width: 2px;
				    height: 0px;
				    border: 1px dotted grey;
				    position: absolute;
				    top: -118px;
    				left: 795px;
				    opacity: 0;
		    	}
		    	.circle_big {
		    		display: block;
				    height: 0px;
				    width: 0px;
				    background-color: green;
				    border-radius: 100%;
				    position: absolute;
				    top: -138px;
    				left: 786px;
				    z-index: 15;
		    	}
		    	.text {
		    		position: absolute;
				    top: -138px;
    				left: 811px;
				    font-weight: 700;
				    opacity: 0;
				    min-width: 173px;
		    	}
		    }
		}
		.schreen_m2 {
			position: absolute;
		    top: 569px;
		    right: 367px;
		    .schreen_deel1_m2 {
		    	position: absolute;
			    top: 25px;
			    left: 20px;
			    opacity: 0;
		    }
		    .schreen_deel2_m2 {
		    	position: absolute;
			    top: 0;
			    right: 0px;
		    }
		    .preview_tekst {
		    	position: absolute;
			    top: 7px;
			    right: 1px;
			    color: #ffffff;
			    font-weight: 700;
			    transform: rotate(43deg);
			    opacity: 0;
		    }
		}
		.table_m2 {
			top: 784px;
			position: absolute;
			right: 363px;
			.addWord_m2 {
				position: absolute;
			    top: -138px;
			    left: 7px;
			    z-index: -1;
			    opacity: 0;
			}
		}
		.doos_m2 {
			position: absolute;
		    top: 752px;
		    right: 260px;
		}
		.man_m2 {
			position: absolute;
		    top: 639px;
		    right: 143px;
		    opacity: 0;

		    .man_wenkbrouw_m2 {
		    	position: absolute;
			    top: 27px;
			    right: 12px;
		    }
		}
	}

}

.explain {
	margin-top: 500px;
	.cijfer {
		position: relative;
		top: 12px;

		.circle {
			display: block;
		    border: 3px solid #c3c3c3;
		    border-radius: 100%;
		    height: 40px;
		    width: 40px;
		    position: absolute;
		    bottom: -9px;
		    right: 40px;
		}
	}
	.title_one {
		border-right: 1px solid #c3c3c3;
	}
	.title_two {
		.red {
			color: #CC0000;
		}
	}
}