@import 'repeat';

#header_frontpage {
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;

	.wrapper_left {
		color: white;
		.title_frontPage {
			text-transform: uppercase;
			font-weight: 700;
		}
		.subtitle_frontPage {
			font-size: 15px;
			margin-bottom: 15px;
		}
		.btn-header {
			text-transform: uppercase;
			background-color: #cc0000;
    		border-color: #cc0000;
    		border-radius: 2px;
    		width: 230px;
    		transition: all 0.5s;
    		position: relative;

    		.demo-link {
    			text-decoration: none;
    			color: white;
    			font-size: 14px;
    		}
		}

		.btn-header::before {
			content: "";
		    height: 46px;
		    display: block;
		    width: 5px;
		    background-color: #9f0000;
		    position: absolute;
		    top: -1px;
		    left: -2px;
		}

		.btn-header:hover, .btn-header:focus, .btn-header:active, .btn-header:visited  {
			background-color: #A40000;
    		border-color: #A40000;
		}
	}

	.wrapper_right {
		margin-top: 75px;
	}

	.arrow-down-bottom-wrapper {
		z-index: 11;
	    color: white;
	    position: absolute;
	    bottom: 195px;
	    -webkit-animation-name: down;
	    animation-name: down;
	    -webkit-animation-duration: 2s;
	    animation-duration: 2s;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	    left: 50%;
	    margin-left: -10px;
	    font-size: 7px;

	    a {
	    	color: white;
	    }
	}

	@keyframes down {
	    0%   {bottom: 195px;}
	    100% {bottom:185px}
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#header_frontpage {
		text-align: left;

		.wrapper_right {
			margin-top: 0px;
		}
	}
}

#slider_wrapper {
	position: absolute;
    bottom: 0;
    width: 100%;

    #we_connect {
		background-color: black;
		color: white;
		position: relative;

		.fa-sort-desc {
			position: absolute;
		    z-index: 55;
		    color: black;
		    font-size: 24px;
		    bottom: -9px;
		    left: 50px;
		}
	}

	#slider {
	    .logo {
	    	filter: grayscale(100%);
	    	margin: 0 auto;
	    	max-width: 60%;
	    }

	    .logo:hover {
	    	filter: grayscale(0%);
	    }


		.slick-prev {
			position: absolute;
	    	left: -25px;
	    	bottom: 8px;

	    	i {
	    		font-size: 18px;
	    		color: #605e5d;
	    	}
		}

		.slick-next {
			position: absolute;
	    	right: -25px;
	    	bottom: 8px;

	    	i {
	    		font-size: 18px;
	    		color: #605e5d;
	    	}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#slider {
		height: 180px;
		position: relative;
	    align-items: center;
	    background-color: #e8e8e8;
	    display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align: center;

	}
}

